.banner {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vmin;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  color: white;
}
/* 
.banner::after {
  content: "";
  width: 100vw;
  height: 100vmin;
  background-color: crimson;
  position: absolute;
  top: 0%;
  left: 0;
  clip-path: polygon(37% 87%, 73% 94%, 100% 100%, 0 100%, 13% 90%);
  max-width: 100%;
} */
