.checkbox {
  opacity: 0;
  position: absolute;
}

.label {
  width: 45px;
  height: 20px;
  background-color: #111;
  display: flex;
  border-radius: 50px;
  align-items: center;
  justify-content: space-between;
  padding: 1px;
  position: relative;
  transform: scale(1.2);
}

.ball {
  width: 20px;
  height: 20px;
  background-color: white;
  position: absolute;
  border-radius: 50%;
  transition: transform 0.2s linear;
}

/*  target the elemenent after the label*/
.checkbox:checked + .label .ball {
  transform: translateX(24px);
}

.fa-moon {
  color: pink;
  padding-left: 3px;
}

.fa-sun {
  padding-right: 3px;
  color: yellow;
}
